<h1>Articles</h1>
<div>
  {{#each articles }}
  <h2>{{this.product.name}}</h2>
  <img width="150px" src="{{this.product.image}}" alt={{this.product.name}}>
  <h2>Price: {{price}} euros $</h2>
  <p>{{this.product.format}}</p>
  <p>{{this.market.name}}</p>
  <p><a href="/articles/{{product._id}}">See article</a></p>
  <p><a href="/articles/edit/{{_id}}">Edit article</a></p>
  <form method="POST" action="/articles/delete/{{_id}}">
    <button class="button-1" type="submit" >Delete</button>
  </form>
  {{/each}}
</div>