<h1>Articles</h1>
<!--UPDATE BELOW KEYS / INPUTS TO ACCORDING ARTICLE MODEL-->
<div>
  {{#each articles}}
  <h2>{{product.name}}</h2>
  <img src="{{product.image}}" alt={{product.name}}>
  <h2>{{price}}</h2>
  <p>{{product.format}}</p>
  <p>{{market.name}}</p>
  <p><a href="/articles/{{_id}}">See article</a></p>
  <p><a href="/articles/edit/{{article._id}}">Edit article</a></p>
  {{/each}}
</div>