<h4>Article Details:</H4>
<div>
 <p> 
    <h4>{{this.product.name}}</h4>
    <img src="{{this.product.image}}" alt="{{this.product.name}}">
    <h4>Price: {{this.price}} euros</h4>
    <p>Category: {{this.product.category}}</p>
 </p> 
 <div>
    <p>
        <p>Supermarket: {{this.market.name}}</p>
        <img src="{{this.market.logo}}" alt="{{this.makert.name}}">
    </p>    
 </div>
</div>