<h4>Arcticle Details:</H4>
<div>
 <p>
{{#each product }}  
    <h4>{{this.name}}</h4>
    <img src="{{image}}" alt="{{name}}">
    <h4>{{article.price}}</h4>
    <p>Category: {{this.category}}</p>
    {{/each}}
 </p> 
 <div>
    <p>
        {{#each market }}
        <p>Supermarket: {{this.name}}</p>
        {{/each}}
    </p>
    <p>
        {{#each articles }}
        <p>Price: {{this.price}}</p>
        {{/each}}
    </p>
 </div>
</div>