<section class="section-detail">
  <div>
     <p> 
        <h1>{{product.name}}</h1>
        <h3>{{product.format}}</h3>
        <img class="img-detail-product" src="{{product.image}}" alt="{{product.name}}">    
     </p> 
  </div>
</section>
<section class="section-detail">
  <h2>Products available in the following supermarkets</h2>
  <div class="product-container">
    {{#each productArticles}}
      {{#if this.isCheapest}}
        <div class="product-info cheapest">
      {{else}}
        <div class="product-info">
      {{/if}}
        <img class="img-detail-logo" src="{{this.market.logo}}" alt="{{this.market.name}}">
        <h4>Price: {{this.price}} euros</h4>
      </div>
    {{/each}}
  </div>
</section>
