<div>
    <h4>Arcticle Details:</H4>
<div>
    <h4>Article Details:</H4>
    <h4>{{product.name}}</h4>
    <img src="{{product.image}}" alt="{{product.name}}">
    <h4>{{price}}</h4>
    <p>Category: {{product.category}}</p>
    <p>{{market.name}}</p>
</div> 
