<h4>Arcticle Details:</H4>
<div>
 <p> 
    <h4>{{this.product.name}}</h4>
    <img src="{{this.product.image}}" alt="{{this.product.name}}">
    <h4>{{this.price}}</h4>
    <p>Category: {{this.product.category}}</p>
 </p> 
 <div>
    <p>
        <p>Supermarket: {{this.market.name}}</p>
    </p>    
 </div>
</div>
