<section class="page container">
  <h1 class="section-title">Editing: {{product.name}}</h1>

    <form class="form-bar" method="POST" action="/articles/edit/{{product._id}}">
      <div>
        <label>Category:</label>
      </div>
      <div>
        <input required type="text" name="category" value="{{product.category}}"/>
      </div>
      <div>
        <label>Name:</label>
      </div>
      <div>
        <input required type="text" name="name" value="{{product.name}}"/>
      </div>
      <div>
        <label>Image:</label>
      </div>
      <div>
        <input required type="text" name="image" value="{{product.image}}"/>
      </div>
      <button class="button-1" type="submit">Save</button>
    </form>

</section>