<h1>Highlighted Articles</h1>
<div>
  {{#each highlighteds }}
    <h2>{{this.article.product.name}}</h2>
    <img width="150px" src="{{this.article.product.image}}" alt={{this.article.product.name}}>
    <h2>Price: {{this.article.price}} euros $</h2>
    <p>{{this.article.product.format}}</p>
    <p>{{this.article.market.name}}</p>
  {{/each}}
</div>