<section class="page container">
  <h1 class="section-title">Your selection</h1>
  <div class="page-content">
    {{#each highlighteds }}
      <section class="item-box">
        <a href="/articles/{{this.article.product._id}}"><img class="item-img" src="{{this.article.product.image}}" alt={{this.article.product.name}}></a>
        <h2 class="item-title">{{this.article.product.name}}</h2>
        <div class="item-info">
          <div class="item-text">
            <p>Price: {{this.article.price}} €</p>
            <p>{{this.article.product.format}}</p>
          </div>
          <img class="item-mkt" src="{{this.article.market.logo}}" alt={{this.article.market.name}}>
        </div>
        <form action="/delete/{{_id}}" method="post" id="delete-form">
        <input type="hidden" name="_method" value="delete">
        <button class="button-no-style" type="submit"><i class='bx bx-x-circle' id="x-icon"></i></button>
        </form>
      </section>
    {{/each}}
  </div>
</section>