<h1>Productos aleatorios</h1>

<div class="container">
  {{#each articles}}
    <div class="product">
      <a href="/articles/{{product._id}}"><img width="150px" src="{{product.image}}" alt="{{product.name}}"></a>
      <p>{{product.name}} - {{market.name}}</p>
      <p>{{this.price}} euros</p>
    </div>
  {{/each}}
</div>
