<h1>Productos aleatorios</h1>

<div class="container">
  {{#each products }}
    <div class="product">
      <a href="/articles/{{this._id}}"><img width="150px" src="{{this.image}}" alt="{{this.name}}"></a>
      <p>{{this.name}}</p>
      {{!-- <p>{{this.article.price}} euros</p> --}}
    </div>
  {{/each}}
</div>