<section class="page container">
<h1 class="section-title">Upload a new article</h1>

    <h2 class="message">
        {{#if message}}
        <p>{{message}}</p>
        <p>Do you want to create another article?</p>
        {{/if}}    
    </h2>
    <h2 class="messagetwo">
        {{#if messageTwo}}
        <p>{{messageTwo}}</p>
        <p>Do you want to create another?</p>
        {{/if}}    
    </h2>
    
    <form class="form-bar" method="POST" action="/articles/new">
        <div>
            <select name="product">
                {{#each allProducts}} 
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            <select name="market">
                {{#each allMarkets}} 
                <option value="{{_id}}">{{name}} </option>
                {{/each}}
            </select>
        </div>
        <div>
            <label class="title-label">New price:</label>
            <input class="inp-form-new"required type="number" name="price" step="any"/>
        </div>
        <button class="button-1" type="submit">Upload it</button>
    </form>
</div>
</section>