<h2>
    {{#if message}}
    <p>{{message}}</p>
    <p>Do you want to create another article?</p>
    {{/if}}    
</h2>
<h2>
    {{#if messageTwo}}
    <p>{{messageTwo}}</p>
    <p>Do you want to create another?</p>
    {{/if}}    
</h2>
<h2>Upload a new article</h2>
<form method="POST" action="/articles/new">
    <select name="product">
       {{#each allProducts}} 
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
    <select name="market">
        {{#each allMarkets}} 
        <option value="{{_id}}">{{name}} </option>
        {{/each}}
    </select>
    <label>Category</label>
    <input required type="text" name="category"/>
    <label>New price</label>
    <input required type="number" name="price" step="any"/>
    <button type="submit">Upload it</button>
</form>