<h1>Products</h1>
<div>
{{#each products }}
<img src="{{this.image}}" alt={{this.name}}>
<h2>{{this.name}}</h2>
<p>{{this.format}}</p>
<a href="/products/edit/{{product._id}}">Edit product</a>
{{/each}}
</div>