<h3>Results by: {{query}}</h3>

{{#if product}}
    <h4>{{this.name}}</h4>
  <img src="{{image}} alt={{name}}/>
  <a href="/products/{{_id}}">See details</a>
  {{else}}
  <p>Sorry, no products found by {{query}}. Try again: <a href="/products">go back to products</a></p>
{{/if}}