<section class="page container">
  <h1 class="section-title">Results for: {{category}}</h1>
  <div class="page-content-home">
    {{#each searchedProducts }}
    <section class="item-box">
      <a href="/articles/{{this._id}}"><img class="item-img" width="150px" src="{{this.image}}" alt="{{this.name}}"></a>
      <h2 class="item-title">{{this.name}}</h2>
      <p class="item-text">{{this.format}}</p>
    </section>
    {{/each}}
  </div>
</section>